.accordion-button.collapsed::after,
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='%23FFF'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
small.badge {
  font-size: 0.65rem;
}
.nav-item button.btn.btn-sm,
.nav-item a.btn.btn-sm {
  color: gray;
  font-weight: bold;
  box-shadow: none;
}
.nav-item button.btn.btn-sm.active,
.nav-item a.btn.btn-sm.active {
  color: white;
}
.nav-item a.btn.btn-sm {
  font-size: 0.8rem;
}
